*{
    padding: 0;
    margin: 0;
    background-color:rgb(255, 172, 172);
}
.box{
 
     margin: 0px;
     padding: 25px;
     height: auto; 
     width: auto; 
     border: 5px solid red;
     display: grid;
     position: relative;
     

  }
    .maindiv{
       
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows:  1fr 1fr 1fr ;
        grid-template-columns: .1fr .1fr .1fr ;
     

    }
#b1{
    background-color: rgba(0, 255, 38, 0.096);
    background-image: url(amazon.jpeg) ;
    background-size: contain;

}
#b2{
    background-color: rgba(202, 253, 48);
    background-image: url(peacock.jpeg);
    background-size: cover;
    
}
#b3{
    background-color:cornsilk;
    background-image:url(C:/Users/ayan7/Desktop/about.jpg);
    background-size: cover;
    
}
#b4{
background-color: rgba(195, 245, 80, 0.911);
background-image: url(https://img.freepik.com/free-photo/autumn-leaf-falling-revealing-intricate-leaf-vein-generated-by-ai_188544-9869.jpg);
background-size:contain;

}
#b5{
    background-color: rgb(241, 22, 22);
    border-color: blue;
    
}
#b6{
    background-color: rgba(9, 170, 9, 0.815);
    
}
#b7{
    background-color:purple;
    
}
#b8{
    background-color: rgb(241, 128, 22);
}
#b9{
    background-color:darkgoldenrod;
}



