*{
    padding: 0;
    margin: 0;
    background-color: rgb(69, 194, 194);
}
.box{
    margin-right: 200px;
    margin-left: 10px;
    padding: 25px;
height: 100px;
width: 100px;
border-radius: 10px;
display: inline-block;
border: 5px solid red;
}
#b1{
    background-color: rgba(0, 255, 38, 0.096);

}
#b2{
    background-color: rgba(202, 253, 48);
    border-radius: 50%;
}
#b3{
    background-color: rgba(113, 28, 150,5);
}
.maindiv{
    display: grid;
    justify-content: center;
}