*{
    margin: 0;
    padding: 0;
    background-color: white;
}

.container{
display: flex;
flex-direction: row;


padding-bottom: 100px;
}

#react{
    background-color: azure;
    color: crimson;
    width: 100%;
    height: 200px;
    line-height: 20px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: start;
border-width: 5px;
border-style: solid;
border-color: blueviolet;
margin: 5px;
padding-left: 5px;
display: inline-block;
position: relative;
justify-content: center;


}
#java{
    padding-left:5px;
    padding-right: 5px;
    background-color: blanchedalmond;
    color: darkcyan;
    height: 200px;
    width: 100%;
    line-height: 20px;
    font-size: 15px;
     text-align: start;
    border-width: 3px;
    border-style: dashed;
    border-color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    margin: 5px;
    
    position: relative;

    
    
    }
    #javascript{
        padding-right: 5px;
        padding-left: 5px;
        text-align: left;
        height: 200px;
        width: 100%;
        background-color: rgb(209, 224, 213);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: darkmagenta;
        font-size: 15px;
        line-height: 20px;
        border-style: dotted;
        border-width: 4px;
        margin: 5px;
        position: relative;

        
    }
    #html{
        height: 280px;
        width: 100%;
        padding: 5px;
        margin: 5px;
        font-size: 15px;
        line-height: 25px;
        font-style: italic;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: blanchedalmond;
        color: firebrick;
        border-width: 3px;
        border-color: blue;
        border-style: double;
        margin-right: 3px;
        text-align: center;
        display: inline-block;
        position: relative;
   ;
    }
    #navigationbar{
        height: 40px;
        background-color: black;
    
    }
    a{
        margin-right: 200px;
        font-size: 25px;
        text-transform: capitalize;
        background-color: aqua;
        
    }
    #logo{
        background-color: #f08804;
        font-size: 25px;
        color: blue;
        margin-left: 5px;
    }
 .heading{ 
    background-color: beige;
    color:  blue;
    margin: 1px;
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
    text-decoration: red wavy underline;
    border-width: 2px;
    border-style: solid;
    border-color: chartreuse;
    line-height: 50px;
    font-size: 20px;
 }
 #footer{
    height: 100%vw;
    width: 100%vw;
    background-color: gray;

 }
button{
    font-weight: 400px;
    font-size: 25px;
    margin: 2px;
    padding: 5px;
    border: 2px solid red;
    text-transform: capitalize;
    display: inline-block;
}
#htmlvid{
    right: 500px;
}
.amazon{
    border: 5px dotted red;
    background-color: burlywood;
 
    height: 500px;
    width: 500px;
    padding: 0%;

   

}
.container2{
    border: 5px solid pink;
    height:auto;
    width: auto;
}
.background-image {
    
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    justify-content: start;

  }
  .vid{
    display: flex;
    flex-direction: column;

    
    
  }
  .fbox{
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 0.5fr;
  

  }